@charset "UTF-8";
/* CSS Document */



#pdwrap{
	
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
    margin-top:170px;
    margin-bottom:0;
    margin-right:auto;
    margin-left:auto;
	min-width:1000px;
	max-width:1400px;
	width:80%;
	height:auto;	
}

#productimg{

	border: 1px solid #f3f3f3;
	
	float:left;
	overflow:hidden;
	padding:0 0 10px 0;
	margin-bottom:100px;
min-width:467px;
	
}

#productimg img{

/*max-height:540px;
max-width:465px;
margin:0;*/

	
}


#productdetails{
	width:35%;
	height:590px;
	float:left;
	overflow:hidden;
	padding:0 20px;
	font-size:12px;
	color: #5f5d46;
	padding-bottom:40px;
}

#pd-prevarrow {
	
	float:left;
	margin-bottom:10px;
	margin-right:10px;
}

#pd-nextarrow{

	float:left;
	margin-left:10px;
}

.pdarrow a{
	
	overflow:hidden;
	
	color:#666;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;

}

.pdarrow a:hover{
	text-decoration:underline;}


.arrowtext, .backtext{
position:relative;
top:-5px;
}

.pdtitle a{
	text-decoration:none}
.pdtitle a:hover{
	text-decoration:underline;}

#productdetails h3{
	font-size:16px;
	color: #5f5d46;
	font-weight: normal;
	clear:both;
	font-family:cardo, serif;
}
#productdetails h1{
	font-size:12px;
	color: #5f5d46;
	font-weight: normal; 
	clear:both;
	text-transform:none;
	font-family:Arial, Helvetica, sans-serif;
}
.detailname{
	display:block;
	width:100%;
	 

}

.detaildesc{
	display:block;
	width:100%;
	height:auto;
	max-height:100px;
	overflow:hidden;
	padding:0;
	
}

.detaildesc-p{
	margin:0;
	padding:0;
width:100%;
	
}
#productdetails img{
	
	padding: 0 6px 0 0;
}
#product-attrs{
	
	font-weight:normal;
	line-height:18px;
}


.opt{
	
    display: inline-block;
	width: 60px;
	height:20px;
	position:relative;
	top:10px;
}
#product-attrs input{
	
	width:50px;
	margin-left:3px;
	
}
#product-attrs ul{
	
	margin:0;
	padding:0;
	
}

#productpairings{
	width:15%;
	height:540px;
	float:left;
	background-color:white;
	overflow:auto;
	border-left: 1px solid #d7d7d7;
	
}

#productpairings img{
	border: 1px solid #f3f3f3;
	display:block;
	overflow:hidden;
	margin: 10px 20px;
	
}

#productpairings img:last-child{
margin-bottom:0px;
	
}
#productpairings p{
	font-family:Cardo, serif;
	color: #5f5d46;
	margin-left:20px;
	font-weight:normal;
	font-size:13px;
	line-height:1;
	margin:0 0 0 20px;
	color:#666;
	
}

.social{
	clear:both;
	margin:0;
	padding:0;}
.social li{
	float:left;
	list-style-type:none;
	margin: 5px 0;
}

ul.pricebuy{
	margin:0;
	padding:0 0 20px 0;
}
.pricebuy li{
	margin:0 10px 0 0;padding:0;
	list-style-type:none;
}
.price{
	margin-top:8px;
	margin-right:10px;
	font-size:18px;
	font-family: cardo, serif;
	
}
.price{
	
float:left;
}

.addtocart{
	
float:left;
}

#tooltip .addtocart{
	
float:right;
}

#tooltip h1{
	font-size:12px;
	font-weight:normal;
	text-transform:none;
	color:#666;
}

.pricebuy li.addtocart a{
	
padding: 5px 15px;
display:block;
background-color: #c5ab63;
text-decoration:none;
text-transform:uppercase;
}
p.alth{
	text-transform:uppercase;
	font-weight:normal;
	margin-top:-1px;
}
.pddiv{
	
	position:relative;
	
}


.det-ship-info{
	clear:both;
	margin-top:10px;
	
	}
.altviews-ul{
	margin:0;
	padding:0;}
li.altview{
	list-style-type:none;
	float:left;
	border:1px solid #f3f3f3;
	margin: 0 10px 0 0;}


#tooltip{
	text-align:left;}
#tooltip h3{
		font-size:13px;
		line-height:14px;
	color: #5f5d46;
	font-weight: bold;
	margin-bottom: -5px;
	clear:both;
	
}

#tooltip p{

	font-size:12px;
	color: #5f5d46;
}
#tooltip ul{
	margin:0;
	padding:0;
	
}
#tooltip ul li{
	
	list-style-type:none;
	margin: 10px 0;
}

#tooltip li.price{
	margin-top:15px;
	font-size:14px;
	
	font-family: cardo, serif;
	
}
#tooltip .detailname{
	display:block;
	width:100%;
	height:auto;

}

#tooltip .detaildesc{
	height:auto;
	overflow:visible;
	max-height:none;
}
.tooltipstyle{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

#tooltip .ttmoreinfo{
	width:100%;
	clear:both;
}

#tooltip p.ttmoreinfo a{

height:25px;
background-color:#ccc;
color:white;
text-decoration:none;
padding: 5px 50px;
clear:both;
}

#itemqty{
	width:25px;
	text-align:center;}
	
	
	.origpricebig{
				text-decoration:line-through;}
				
				.saleprice{
					color: red;}
					
	#productdetails .pdarrow img{
		padding:0;}